.header
{
	width:100%;
	height:100px;
	background-color:slateblue;
	float:left;
	color:white;
	text-align:center;
	 
}
.navbar
{
	width:100%;
	height:50px;
	background-color:grey;
	float:left;
	color:white;	
	line-height: 50px; 
}
.navbar a
{
    color:white; 
	font-size:20px;
	margin: 0 20px;    
}
.banner
{
	
	width:100%;
	height:200px;
	background-image:url('../Image/banner.jpg');
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	float:left;
	color:black;
	text-align:center;
}

.sidebar
{	
	width:15%;
	height:500px;
	background-color:slateblue;
	float:left;
	color:white;
	text-align:center;
}


.mainbar
{	
	width:85%;
	height:500px;
	background-color:gold;
	float:left;
	color:black;

}
.mainbox
{
	height:250px;
	width:33.33%;
	float:left;
	color:black;
	background-color:white;
	text-align:center;
}


.footer
{	
	width:25%;
	height:200px;
	background-color:teal;
	float:left;
	color:white;
	text-align:center;
	font-size:30px
}