.header
{
	width:100%;
	height:100px;
	background-color:blue;
	float:left;
	color:white;
	text-align:center;
}

.navbar
{
	width:100%;
	height:50px;
	background-color:lightgreen;
	float:left;
	color:white;
	text-align:center;
}


.banner
{
	width:100%;
	height:250px;
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1rch6iB6QdF-yGHylljU-5bcYkHjbDMtbjQ&s');
	background-size:100% 100%;  
	float:left;
	color:white;
	text-align:center;
}

.sidebar
{
	width:15%;
	height:600px;
	background-color:lightGray;
	float:left;
	color:white;
}

.mainbar
{
	width:70%;
	height:600px;
	background-color:orange;
	float:left;
	color:white;
	text-align:center;
}

.mainbox
{
	height:200px;
	width:33.33%;
	float:left;
	color:black;
	background-color:white;
	text-align:center;
}

.sidebar2
{
	width:15%;
	height:600px;
	background-color:lightpink;
	float:left;
	color:white;
}


.footer
{
	width:25%;
	height:100px;
	background-color:black;
	float:left;
	color:white;
	text-align:center;
}