body 
{
    font-family: Arial, sans-serif;
    margin: 0;
}
header
{
    background-color: pink;
    color: white;
    padding: 15px;
    text-align: center;
}
nav 
{
    background-color: grey;
    padding: 10px;
	text-align:center;
}
nav a 
{
    color: white;
    margin-right: 15px;
    text-decoration: underline;
}

footer 
{
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}
